<% if @sports %>
  <% @sports.each do |sport| %>
    <%= sport.name %>
  <% end %>
<% end %>

<h1>Hello</h1>

<div id="landing-page-bg" width="100%">
  <div id="landing-page-bg-image" class="span3">
    <%= image_tag "nba.jpg" %>
  </div>

  <div id="landing-page-bg-image" class="span3">
    <%= image_tag "nfl.jpg" %>
  </div>

  <div id="landing-page-bg-image" class="span3">
    <%= image_tag "mlb.jpg" %>
  </div>
</div>